<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <meta name="author" content="Balamurugan" />
    <link rel="icon" href="~/Content/images/fav.png">
    <!--
      //////////////////////////////////////////////////////
      DESIGNED & DEVELOPED by Balamurugan R 
      Email: balamr491@gmail.com
      //////////////////////////////////////////////////////
     -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129694187-1"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131291778-1"></script>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-129694187-1');

        gtag('config', 'UA-131291778-1');
    </script>


</head>

<body>
    <div id="loader" style="display:block;"></div>
    <div id="overlay" style="display:block;"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Thirukadaiyur Temple", "Thirukadaiyur_Temple", "Thirukadaiyur", new { area = "" }, new { @class = "navbar-brand" })               
            </div>
          
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                  
                    <li>@Html.ActionLink("Marriages & Pooja's", "Thirukadaiyur_Temple_Details_Cost", "Thirukadaiyur")</li>
                    <li>@Html.ActionLink("Aayush Homams", "Aayush_Homams_in_Thirukadaiyur", "Thirukadaiyur")</li>
                    <li>@Html.ActionLink("Hotels & Rooms", "Hotels_Rooms_Food_in_Thirukadaiyur", "Thirukadaiyur")</li>                    
                    <li>@Html.ActionLink("Online Booking", "Thirukadaiyur_Temple_Booking", "Thirukadaiyur")</li>
                    <li>@Html.ActionLink("Help & Enquiry?", "Thirukadaiyur_Temple_Contact_Details", "Thirukadaiyur")</li>

                </ul>
                
            </div>          
            
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center;">
            <p>
                &copy; @DateTime.Now.Year - Abirami Arrangements
                
            </p>
            <a href="https://www.facebook.com/AbiramiArrangements" target="_blank" > <i class="fa fa-facebook" aria-hidden="true" style="font-size: 25px;color: darkblue;cursor: pointer;" title="Visit Us on Facebook!"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="https://twitter.com/AbiramiArrange1" target="_blank"> <i class="fa fa-twitter" aria-hidden="true" style="font-size: 25px;color: darkblue;cursor: pointer;" title="Visit Us on Twitter!"></i></a>
        </footer>
        
        
    </div>    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    window.addEventListener('load', function () {

        hideProgress();

    }, false);
    function showProgress() {
        $("#loader").css("display", "block");
        $("#overlay").css("display", "block");
    }
    function hideProgress() {
        $("#loader").css("display", "none");
        $("#overlay").css("display", "none");
    }
</script>



